body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffd6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTAINER BIGGER */
.container {
    text-align: center;
    width: 95%;
    max-width: 420px;
}

/* BIGGER TEXT */
h1 {
    font-size: 30px;
    color: #ff2e63;
    margin-bottom: 25px;
}

/* BIGGER GIF */
img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    margin-bottom: 30px;
}

/* BUTTON LAYOUT */
.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* BIGGER BUTTONS */
button {
    padding: 18px 36px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

/* COLORS */
.yes {
    background: #28a745;
    color: white;
}

.no {
    background: #ff3b3b;
    color: white;
}

/* CLICK EFFECT */
button:active {
    transform: scale(0.95);
}